.transaction_data {
  width: 81vw;
  margin: 0 auto;
}
td {
  text-align: center;
}
td {
  height: 30px;
}
.title {
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.action_icons {
  font-size: 20px;
  cursor: pointer;
  font-size: 15px;
}
.action_icons:last-child {
  color: rgb(192, 35, 35);
}
.action_icons:first-child {
  color: green;
}
.action_icons:nth-child(1) {
  color: blue;
}
.report_table {
  margin: 0 auto;
  background-color: transparent !important;
}
.css-1e2ywc-MuiTableRow-root {
  background-color: rgba(69, 94, 69, 0) !important;
  backdrop-filter: blur(7px) !important;
}
tbody tr:hover {
  backdrop-filter: blur(7px) !important;
}
td,
.css-1tbggly,
.css-1yz21rz-MuiPaper-root-MuiAlert-root,
.css-10gei56 {
  background-color: var(--bg-nav) !important;
  backdrop-filter: blur(5px) !important;
}
.css-lgq4l5-MuiPaper-root,
tr {
  background-color: transparent;
}
.css-hsi95o-MuiTableRow-root {
  background-color: transparent !important;
}
.css-118e0ip-MuiTableHead-root,
tbody tr {
  backdrop-filter: blur(5px) !important;
}

.css-apge8j-MuiTableRow-root {
  background-color: var(--report-head) !important;
  backdrop-filter: blur(5px) !important;
}
.css-1apkmlw-MuiButtonBase-root-MuiButton-root {
  color: black !important;
}
.css-1ucns9m-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: rgba(0, 0, 0, 0.555) !important;
}

.add_button {
  transform: scale(0.7);
}
.add_inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.add_icon {
  font-size: 1vw;
  color: blue;
}
.add_update {
  margin: 10px;
}
.label_input {
  display: flex;
  align-items: center;
}
.label_input p {
  width: 20%;
}
.modal_button {
  display: flex;
  justify-content: center;
}
.category_border {
  border: 1px solid red;
}
.export_option {
  font-size: 0.6vw;
}
@media screen and (max-width: 700px) {
  .transaction_data {
    width: 96.5vw;
  }
}
@media screen and (max-width: 1500px) {
  .export_option {
    font-size: 0.8vw;
  }
}
@media screen and (max-width: 1000px) {
  .export_option {
    font-size: 1vw;
  }.css-di3982 {
    transform: scale(0.8);
    margin: -5px -20px 0 0;
  }
}
@media screen and (max-width: 800px) {
  .export_option {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 600px) {
  .export_option {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 450px) {
  .export_option {
    font-size: 1.6vw;
    width: 50%;
  }
 
  .export_options {
    display: flex;
    flex-wrap: wrap;
  }
}
