* {
  margin: 0;
}

:root {
  --text-color: rgb(4, 75, 25);
  --bg-image: url("../assets/wt-bg.jpg");
  --bg-nav: rgba(27, 78, 50, 0.24);
  --report-head: rgba(4, 75, 25, 0.116);
  --report-hover: white;
}
.global {
  height: 95vh;
  background-image: var(--bg-image);
}
