* {
  margin: 0;
}

:root {
  --text-color: rgb(4, 75, 25);
  --bg-image: url("../assets/wt-bg.jpg");
  --bg-nav: #9db5b2;
  --report-head: rgba(4, 75, 25, 0.116);
  --report-hover: white;
}
.global {
  height: max-content;
  background-image: var(--bg-image);
}
