.welcome_container {
  display: flex;
  justify-content: center;
  margin: 10vh 0;
}
.page {
  background-color: var(--bg-nav);
  backdrop-filter: blur(5px);
  width: 20vw;
  height: max-content;
  padding: 20px;
  border-radius: 20px;
}
.welcome_profile {
  display: flex;
  margin: 0 auto;
  width: 5vw;
  height: 10vh;
}
.welcome {
  margin: 10px 0;
  text-align: center;
  color: var(--text-color);
}
.welcome_input {
  width: 70% !important;
  margin: 0 0 10px 15%;
}
.log_sign {
  margin: 10px 0 10px 38%;
}
.sign_log_message {
  text-align: center;
}
.sign_log {
  color: green;cursor: pointer;
}
@media screen and (max-width: 1500px) {
  .page {
    width: 30%;
  }.welcome_profile {
    width: 5vw;
    height: 7vh;
  }
}
@media screen and (max-width: 1050px) {
  .page {
    width: 50%;
  }.welcome_profile {
    width: 7vw;
    height: 7vh;
  }
}
@media screen and (max-width: 900px) {
  .page {
    width: 60%;
  }.welcome_profile {
    width: 8vw;
    height: 6vh;
  }
}
@media screen and (max-width: 700px) {
  .page {
    width: 80%;
  }.welcome_profile {
    width: 12vw;
    height: 6vh;
  }
}
