.navbar {
  width: 80vw;
  padding: 10px;
  margin: 10px auto;
  background-color: var(--bg-nav);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_items {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
.nav_item {
  text-decoration: none !important;
  color: var(--text-color);
  font-size: 1.5vw;
  font-weight: 900;
}
.theme {
  position: absolute;
  background-color: var(--bg-nav);
  backdrop-filter: blur(5px);
  top: 15px;
  right: 70px;
  font-size: 2vw;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
}
.profile {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.profile_box {
  position: absolute;
  width: max-content;
  bottom: 20;
  right: 0;
  background-color: aqua;
  padding: 10px;
}
.profile_box_main {
  position: relative;
  margin-right: 50px;
}

@media screen and (max-width: 1000px) {
  .navbar {
    width: 80vw;
  }.nav_item {
    font-size: 2vw;}
}
@media screen and (max-width: 700px) {
  .nav_item {
    font-size: 2.5vw;
    margin-left: -70px;
  }
  .navbar {
    display: flex;
    padding: 5px;
    width: 95%;
    border-radius: 10px;
  }
  .profile {
    width: 35%;
    height:35%;
    margin-left: 4%;
  }
}
