.page {
  height: max-content;
}
.dashboard {
  height: 88vh;
  width: 81vw;
  margin: 10px auto;
  background-color: var(--bg-nav);
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-columns: 80% 20%;
  border-radius: 20px;
}
.dashboard_chart {
  border-radius: 20px 0 0 20px;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.dashboard_expinc {
  border-radius: 0 20px 20px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.dashboard_expense {
  background-color: #da5552;
  border-radius: 20px;
  width: 90%;
  height: 20%;
}
.dashboard_income {
  background-color: #37a572;
  border-radius: 20px;
  width: 90%;
  height: 20%;
}
.dashboard_balance {
  background-color: #1976d2;
  border-radius: 20px;
  width: 90%;
  height: 20%;
}
.dashboard_balance,
.dashboard_expense,
.dashboard_income {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.dashboard_balance span:first-child,
.dashboard_expense span:first-child,
.dashboard_income span:first-child {
  font-size: 30px;
}
.dashboard_balance,
.dashboard_expense,
.dashboard_income {
  font-size: 50px;
}
.yearsearch {
  width: 90%;
  margin: 0 auto;
}
.dashboard_chart {
  width: 65vw;
}
@media screen and (max-width: 2000px) {
  .dashboard_chart {
    width: 65vw;
    height: 50px !important;
  }
}
@media screen and (max-width: 1500px) {
  .dashboard_chart {
    width: 100%;
    margin-top: 0px;
  }
  .dashboard {
    flex-direction: column !important;
    display: flex;
    justify-content: center !important;
    padding: 10px;
    height: 88vh;
  }
  .dashboard_balance,
  .dashboard_expense,
  .dashboard_income {
    font-size: 20px;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    margin-top: 20px;
  }
  .dashboard_expinc {
    display: flex;
    margin-top: 62%;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    width: 100%;
    margin-left: 0px;
  }
  .yearsearch {
    width: 25%;
    width: 20%;
    margin-left: 230px;
  }
}
@media screen and (max-width: 1500px) {
  .dashboard {
    height: 88vh;
  }
  .dashboard_balance,
  .dashboard_expense,
  .dashboard_income {
    width: 1000px;
    height: 100px;
  }
  .dashboard_expinc {
    width: 100%;
    margin-left: 0px;
  }
  .yearsearch {
    width: 780px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 1400px) {
  .dashboard_expinc {
    margin-top: 98vh;
  }
  .dashboard {
    height: 120vh;
  }
}
@media screen and (max-width: 1000px) {
  .dashboard_expinc {
    margin-top: 95vh !important;
  }

  .yearsearch {
    width: 880px;
    margin-left: 30px;
  }
}@media screen and (max-width: 800px) {
  .dashboard_expinc {
    margin-top: 72vh !important;
  }

  .yearsearch {
    width: 880px;
    margin-left: 30px;
  }.dashboard{
    height: 88vh;
  }
}


