.page {
  height: max-content;
}
.dashboard {
  height: max-content;
  width: 81vw;
  margin: 10px auto;
  background-color: var(--bg-nav);
  display: flex;
  border-radius: 20px;
  padding: 10px 5px;
  box-shadow: 0px 15px 30px 0px rgb(48, 46, 46);
}
.dashboard_chart {
  border-radius: 20px 0 0 20px;
  width: 80%;
  height: 100%;
  margin-top: 20px;
}
.dashboard_expinc {
  border-radius: 0 20px 20px 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.dashboard_expense {
  background-color: #da5552;
  border-radius: 20px;
  width: 90%;
  height: 20%;
}
.dashboard_income {
  background-color: #37a572;
  border-radius: 20px;
  width: 90%;
  height: 20%;
}
.dashboard_balance {
  background-color: #1976d2;
  border-radius: 20px;
  width: 90%;
  height: 20%;
}
.dashboard_balance,
.dashboard_expense,
.dashboard_income {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.dashboard_balance span:first-child,
.dashboard_expense span:first-child,
.dashboard_income span:first-child {
  font-size: 30px;
}
.dashboard_balance,
.dashboard_expense,
.dashboard_income {
  font-size: 50px;
  width: 80%;
}
.yearsearch {
  width: 90%;
}
.dashboard_chart {
  width: 65vw;
}
@media screen and (max-width: 1500px) {
  .dashboard {
    display: flex;
    flex-direction: column-reverse;
  }
  .dashboard_chart {
    width: 100%;
  }
  .dashboard_expinc {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 12px;
    justify-content: center;
  }
  .yearsearch {
    width: 20%;
  }
  .dashboard_balance,
  .dashboard_expense,
  .dashboard_income {
    font-size: 30px;
    width: 12%;
    padding: 15px 0;
  }
  .dashboard_balance span:first-child,
  .dashboard_expense span:first-child,
  .dashboard_income span:first-child {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard_expinc {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
    gap: 12px;
    justify-content: center;
  }
  .yearsearch {
    width: 25%;
  }
  .dashboard_chart {
    margin-top: -10px;
  }
  .dashboard_balance,
  .dashboard_expense,
  .dashboard_income {
    font-size: 30px;
    width: 20%;
    padding: 10px 0;
  }
  .dashboard_balance span:first-child,
  .dashboard_expense span:first-child,
  .dashboard_income span:first-child {
    font-size: 15px;
  }
}
@media screen and (max-width: 700px) {
  .dashboard {
    width: 95vw;
    border-radius: 10px;
  }
  .yearsearch {
    width: 30%;
  }
  .dashboard_chart {
    margin-top: -10px;
  }
  .dashboard_balance,
  .dashboard_expense,
  .dashboard_income {
    font-size: 10px;
    width: 15%;
    border-radius: 10px;
    padding: 10px 0;
  }
  .dashboard_balance span:first-child,
  .dashboard_expense span:first-child,
  .dashboard_income span:first-child {
    font-size: 10px;
  }
  .dashboard_expinc {
    margin-top: 0;
  }
  .dashboard {
    height: 50%;
  }
}
